.imagen-grande {
    width: 500px;   
    height: auto;   
    border: 2px solid #333;  
    border-radius: 8px;      
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
}

/* Estilos generales para las secciones */
section {
    padding: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
  }
  
  /* Estilos para los títulos */
  h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  /* Estilos para los textos de introducción */
  p {
    font-size: 18px;
    color: #666;
    margin-bottom: 20px;
  }
  i {
    color: #000; /* set the default color to black */
    transition: color 0.3s; /* add a transition effect to the color */
  }
  
  i:hover {
    color: #007bff; /* change the color to blue on mouse hover */
    transform: scale(1.2);
  }